<h1>Participants' List</h1>
<p>下のテキストボックスに名前を入力すると検索できます.</p>
<%= text_field_tag "searched_name", nil, placeholder: "Search", class: "form-control" %>
<div id="ajax-wrapper">
	<%= render 'participants_table', layout: "application" %>
</div>

<br>
